/* Yes I am aware I should sort these into seperate css files */



.home-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.home-page{
    position: relative;
    padding: 50px;
    color: white;
    
}

.centered-gif {
    width: 300px; 
    height: auto;
    margin-top: 20px; 
}



#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.about-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;

}

.about-page{
    position: relative;
    padding: 50px;
    color: white;
}

.profile-section {
    background: rgba(255, 255, 255, 0.8); 
    /* make slightly transparent */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

.profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid #fed6e3;
}


h1 {
    color: #f85a82;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 24px;
}

p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
}

/* styling for contact page */
.container {
    padding-top: 50px;
    position: relative;
    z-index: 1;
}


.contact-page {
    position: relative;
    padding: 50px;
    color: white;
}

.contact-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.contact-section {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.contact-info {
    margin-top: 40px;
    font-size: 18px;
    
    
}

.contact-info a {
    color: #a2db87;
    text-decoration: none;
    
}

.contact-form {
    margin-top: 30px;
    display: inline-block;
    max-width: 500px;
    width: 100%;
}

.field {
    margin-bottom: 20px;
}

.label {
    font-size: 16px;
    margin-bottom: 10px;
}

.input,
.textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}



h2{
    color: #1a202c;
    margin-bottom: 10px;
}




.artwork-section {
    margin-top: 30px;
    text-align: center;
}

.artwork-gallery {
    display: flex; 
    justify-content: center; 
    gap: 25px; /* Add space between the images */
    flex-wrap: wrap; 
}

.artwork {
    width: 250px; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 8px; 
    border: 3px solid #fed6e3;
}

.button{
    margin-top: 25px;
}


.contact-info {
    font-size: 1.2rem;
    margin-top: 20px;
}

.contact-info a {
    color: #e24a77;
}

.contact-info a:hover {
    color:#a2db87; 
}

.contact-info i {
   padding-right: 15px;
}



.profile-section a {
    color: #e24a77; 
}  

.profile-section a:hover {
    color: #a2db87; 
}


.navbar-burger {
    color: #ffffff; 
  }
  
  .navbar-burger span {
    background-color:#a2db87; /* Change background color of the hamburger lines */
  }




